main.PageContainer {
  width: 100dvw;
  height: 100dvh;
  padding-block: 128px;
}

main.CenterContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Column {
  max-width: 768px;
  margin: auto;
  padding-inline: 24px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

div.ColumnWide {
  max-width: 1080px;
}
