main.PageContainer {
  width: 100dvw;
  height: 100dvh;
  padding-block: 128px;
}

main.CenterContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.Column {
  max-width: 768px;
  margin: auto;
  padding-inline: 24px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  position: relative;
  z-index: 1;
}

div.ColumnWide {
  max-width: 1080px;
}

a.Anchor {
  transition: 0.2s;

  &:hover {
    opacity: 0.6;
  }
}

button.Button {
  margin-right: 8px;
  width: fit-content;

  border: 1px solid #eee4;
  color: #eee;
  background-color: #222;
  padding: 4px 8px;
  border-radius: 4px;

  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}
