main.PageContainer {
  width: 100dvw;
  height: 100dvh;
  padding-block: 128px;
}

div.Column {
  max-width: 720px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

ul.ComponentList {
  list-style-position: inside;
  line-height: 1.8;

  li {
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }
}